.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      .chat-main__group-info__left-box__current-group
        = @group.name
      .chat-main__group-info__left-box__member-list
        - @group.users.each do |user|
          = user.name
    .chat-main__group-info__edit-btn
      = link_to edit_group_url(@group) do
        Edit
  .chat-main__messages
    = render @messages
    -# = render "messages/message"

  .chat-main__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'chat-main__form__text', placeholder: 'type a message'
      .form
        = f.label :image, class: 'chat-main__form__image' do
          = icon('far', 'image', class: 'image')
          = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'chat-main__form__btn'