.side-bar
  .side-bar__header
    .side-bar__header__top-items
      .side-bar__header__top-items__name
      = current_user.name
      .side-bar__header__top-items__icons
        .side-bar__header__top-items__icons__icon-edit
          = link_to new_group_path do
            = icon('fas' , 'edit', class: 'icon')
        .side-bar__header__top-items__icons__icon-cog
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .side-bar__group-lists
    - current_user.groups.each do |group|
      .side-bar__group-lists__group
        = link_to group_messages_path(group) do
          .side-bar__group-lists__group__name
            = group.name
          .side-bar__group-lists__group__message
            = group.show_last_message
